.tour-on {}

.one {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.tour-overlay {
    z-index: 100;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
}

.tour-container {
    z-index: 200;
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 20px;
    text-align: center;
    max-width: 500px;
}

.tour-arrow {
    z-index: 200;
    position: fixed;
}
.tour-arrow path {
    fill:none;
    stroke:#FFF;
    stroke-width:2px;
}

.tour-container .tour-next {
    display: none;
}

.tour-content {
    width: 100%;
}

.tour-target {
}