.tour-on{
    overflow:hidden;
}

.tour-overlay {
    z-index: 2000;
    position: fixed;
    background: rgba(4, 22, 40,0.75);
    will-change: left, top, width, height;
}

.tour-container {
    z-index: 2001;
    position: fixed;
    color: rgba(255,255,255,0.8);
    font-size: large;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    opacity: 0;
}

.tour-container br{
    line-height:30px;
}

.tour-arrow {
    z-index: 2001;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.tour-arrow path {
    fill: none;
    stroke: #FFF;
    stroke-width: 2px;
}

.tour-display-on {
    transition: opacity 1.2s ease;
    opacity: 1 !important;
}

.tour-overlay-center.tour-display-on {
    transition: background 1.2s ease, z-index 0s linear 0.8s;
    background: rgba(0, 0, 0, 0);
    z-index: -100;
}

.tour-container .tour-next {
    display: none;
}

.tour-content {
    width: 100%;
    text-align: left;
}

.tour-buttons button{
    padding:10px 40px;
    font-size:20px;
    color:#fff;
    border-radius:9999px;
    background:rgba(0,0,0,0.2);
    border:2px solid #fff;
    margin-top:20px;
}

.tour-buttons button:hover{
    background-color:rgba(0,0,0,0.4);
}

.tour-buttons button:focus{
    outline:none;
}