.tour-on {
    overflow: hidden;
}

.tour-overlay {
    z-index: 2000;
    position: fixed;
    will-change: left, top, width, height;
}

.tour-container {
    z-index: 2001;
    position: fixed;
    font-size: large;
    text-align: center;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 100px rgba(52, 73, 94, 0.5);
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    margin: 5px;
}

.tour-container br {
    line-height: 50px;
}

.tour-arrow {
    z-index: 2001;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.tour-arrow path {
    fill: none;
    stroke: rgba(52, 73, 94, 0.5);
    stroke-width: 2px;
}

.tour-display-on {
    transition: opacity 1.2s ease;
    opacity: 1 !important;
}

.tour-overlay-center.tour-display-on {
    background: rgba(0, 0, 0, 0);
    z-index: -100;
}

.tour-content {
    text-align: left;
    padding: 30px 40px;
}

.tour-buttons {
    text-align: right;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    height:0;
}

.tour-buttons button {
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background: #2ecc71;
    border-radius:4px;
    box-shadow:inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.2);
    border: none;
    transition:all 0.2s;
    opacity:0;
    margin-right:-100px;
    display:inline-block;
}

.tour-buttons.show-next{
    height:auto;
    padding:5px;
}

.tour-buttons.show-next button{
    opacity:1;
    margin-right:0;
}

.tour-buttons button:hover {
    background-color: #27ae60;
}

.tour-on button:focus,
.tour-on a:focus{
    outline: none!important;
}

*:not(.tour-target),
*:not(.tour-buttons button) {
    pointer-events: none;
}

@media (max-width: 500px) {
    .tour-container {
        opacity: 0!important;
    }
    .tour-overlay {
        display: none;
    }
}
